@media (max-width: 1100px) {
  .main-header .menu {
    display: none;
  }

  .main-header .menu-img {
    height: 60px;
    width: 60px;
    image-rendering: pixelated;
  }

}

@media (min-width: 1100px) {
  .main-header .link-menu {
    display: none;
  }
}